# Prywatna konfiguracja lokalna
.env

# Logi i nagrania ADS-B / MLAT / environment
*.log
tests/data/*
recordings/
diagnostics/

# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code - lokalne ustawienia projektu
.vscode/

# Pliki tymczasowe
*.tmp
